{% extends 'layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}

   <!-- Esto es un comentario en HTML -->
   {% comment "Nota para el comentario" %}
      Esto es el texto del comentario
   {% endcomment %}

   <h1 class="title">{{title}}</h1>
   
   <p>{{mi_variable}}</p>

   {% if nombre and nombre == "Ángel Alhambra"%}
      <p>{{nombre}}</p>
   {% else %}
      <strong>El nombre no existe o no coincide</strong>
   {% endif %}

   <h3>Listado de lenguajes de programación</h3>
   
   <ul>
      {% for lenguaje in lenguajes %}
         <li>{{forloop.counter0}}. {{lenguaje}} {{forloop.first}} {{forloop.last}} {{forloop.counter}} </li>
      {% empty %}
         <p>NO HAY LENGUAJES QUE MOSTRAR</P>
      {% endfor %}
   </ul>

   {% include 'fecha-actual.html' with saludo="Hola Mundo desde plantilla" %}   

{% endblock %}


