<!DOCTYPE html>
<html lang="'es">
<head>
   <meta charset='utf-8'>
   <title>
      {% comment %}	Título de cada página {% endcomment %}
      {% block title %}
      {% endblock %}
      | Ángel Alhambra
   </title>
 
   {% load static %}
   
   <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"

</head>
<body>
   <!-- Cabecera dela página-->
   <header>
      <div id="logotipo">
         <!--Logo django-->
         <img src="{% static 'images/logo.png' %}" />
         <h1>Sitio web con Django | Ángel Alhambra</h1>
         </hr>
      </div>
   </header>
   
   <nav>
      <ul>
         <li>
            <a href="{% url 'inicio'%}">Inicio</a>
         </li>
         <li>
            <a href="{% url 'articulos'%}">Articulos</a>
         </li>
         <li>
            <a href="{% url 'hola_mundo'%}">Hola Mundo</a>
         </li>
         <li>
            <a href="{% url 'pagina'%}">Página de pruebas</a>
         </li>
         <li>
            <a href="{% url 'contacto' 'Ángel' 'Alhambra'%}">Contacto</a>
         </li>
      </ul>
   </nav>

   <!-- Este div es para hacer el efecto 3D en la barra de navegación-->
   <div class="barra">
      <span class="barra"></span>
      <span class="relleno-barra"></span>
      <span class="esquina-izquierda"></span>
      <span class="esquina-derecha"></span>
   </div>
 
   <div id="content">
      <div class="box">
         <!-- Código que viene de templates -->
         {% block content %}
            <strong>Contenido del bloque original!!!</strong>
         {% endblock %}
      </div>
   </div>

   <footer>
      <p>Master en Python &copy; Ángel Alhambra - {% now "d/m/Y" %}</p>
   </footer>

</body>
</html>