<!DOCTYPE html>
<html lang="'es">
<head>
   <meta charset='utf-8'>
   <title>
      {% comment %}	Título de cada página {% endcomment %}
      {% block title %}
      {% endblock %}
      | Ángel Alhambra
   </title>
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"
   
</head>
<body>
   
   <h1>Sitio web con Django | Ángel Alhambra</h1>
   </hr>
   <ul>
      <li>
         <a href="/inicio">Inicio</a>
      </li>
      <li>
         <a href="/hola-mundo">Hola Mundo</a>
      </li>
      <li>
         <a href="/pagina-pruebas">Página de pruebas</a>
      </li>
      <li>
         <a href="/contacto-dos">Contacto</a>
      </li>
   </ul>
   </hr>

   <div id="content">
      <!-- Código que viene de templates -->
      {% block content %}
         <strong>Contenido del bloque original!!!</strong>
      {% endblock %}   
   </div>

   <footer>
      <hr></hr>
      <p>Master en Python &copy; Ángel Alhambra </p>
   </footer>

</body>
</html>